@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #1b1b1b;
    padding: 16px;
    
}

button {
    @apply pb-2 pt-1.5 px-3 bg-yellow-200 border-[#1b1b1b] border-[2px] rounded-2xl flex justify-center items-center;
}

button:hover {
    opacity: 80%;
}